.nav{
	padding: 0.5rem;
}

.logo{
	margin-top: 1rem;
}

.link-bar,
.link-bar-bottom{
	background-color: #eae8e1;
}

.current{
  background-color: #2B3E43;
}

.banner{
  background: #eae8e1 url("../images/banner.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 5rem 1rem 1rem;
}

@media only screen and (min-width: 40em) {
	.ly{
		padding: 0;	
		margin-left: 1.2rem;
	}

	.link-bar{
		margin-left: -.8rem;
		background-color: #C4B29E;
	}

}

@media only screen and (min-width: 55em) {
}