# Accessibility Testing Report

User testing was conducted by Caterina O'Leary on 30·03·2014 between the times of 5PM and 7PM with the following participants:

- Rebecca Wright
- Megan Davis
- Gregory Leblanc
- Kayla Tomkiewicz
- Alex Martin
- David Birch

## Tasks

1. Get materials and size information of hanging dodecahedron terrarium
2. Purchase zephyrus terrarium
3. Visit about page

---

## Individual Results & Observations

### Rebecca Wright

- Completed tasks with ease
- No issues
- Found multiple navigations tedious

### Megan Davis

- Completed tasks in a timely, easy manner.
- found multiple navigation lists long, repetitive and slightly confusing

### Gregory Leblanc

- More difficulty experienced completing task than expected
- The tasks were more time consuming than expected.
- Difficulty determining important sections due to link naming conventions.

### Kayla Tomkiewicz

- Completed tasks with ease
- Completed tasks in a timely manner

### Alex Martin

- Found multiple navigations slightly confusing
- Tedious to navigate through various navigations
- Completed all tasks

### David Birch

- Found the tasks to be tedious and slow to get thru
- Completed tasks with Ease.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Missing alt tags for links making it impossible to purchase products (fixed)

### Serious, Causes Frustration, May Hinder Completion

- Naming of specific pages / links causes some confusion

### Minor, Annoying, Won’t Hinder Completion

-middots are said every time, slightly annoying for user.