---
layout: default
title: Home
showbanner: yes
bannertext: Welcome
metadesc: cute cacti
metakey: cactus, lysithea, home made, hand made, plant
---
<main role="main">
<div class="product">
	<div class="grid">
		<div class="gutter unit unit-s-1">
		{% include promo-large.html title="Tear Drop Terrarium" desc="teardrop hanging terrariums are made of resistant materials." image="terrarium-1.jpg" %}
		</div>
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Flash sale!" desc="dodecahedron terrariums are made of resistant materials." image="terrariums/standing/polygon-terrarium-thumbnail.jpg" %}
		</div>
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Flash sale!" desc="square terrariums are made of resistant materials." image="terrariums/standing/square-terrarium-thumbnail.jpg" %}
		</div>
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Flash sale!" desc="round terrariums are made of resistant materials." image="terrariums/standing/round-terrarium-thumbnail.jpg" %}
		</div>
	</div>
</div>
</main>