# User Testing Report

User testing was conducted by Caterina O'Leary on 3•24•14 between the times of 16:00 and 19:00 with the following participants:

- Rebeccah Wright
- Megan Davis
- Kayla Tomkiewicz

## Tasks

1. Find list of hanging terrariums
2. Purchase zephyrus terrarium
3. find size & price of diamond terrarium

---

## Individual Results & Observations

### Rebecca Wright

- She navigated through the website slightly more slowly
- She struggled to find the diamond terrarium, though found it
- completed all the tasks in a timely manner despite some struggles

### Megan Davis

- She clicked on the link as expected
- No questions asked
- fast, easy, seamless

### Kayla Tomkiewicz

- She clicked on the link as expected
- She questioned the lack of logo
- found the terrarium list long
- struggled to find the diamond terrarium in long list
- completed all the tasks in timely manner

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- terrariums list page is long and participants have a hard time concentrating through scrolling to find specific item.

### Serious, Causes Frustration, May Hinder Completion

- no major problems, all participants completed tasks in timely manner

### Minor, Annoying, Won’t Hinder Completion

- Participants noted that logo did not load
- Participant noted that terrarium sizing was listed in inches and should be listed in centimetres.