<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} · Lysithea</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{page.metadesc}}">
  <meta name="keywords" content="{{page.metakey}}">
  <link href="{{site.baseurl}}/css/bucket.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/form.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">

</head>
<body>
	<header role="banner">
		<div class="grid">
			<div class="gutter unit unit-s-1 unit-m-1-4 unit-l-1-4">
				<a href="{{site.baseurl}}/">
					<img src="{{site.baseurl}}/images/logo.png/" alt="logo" class="logo">
				</a>
			</div>
			<div class="gutter unit ly unit-s-1 unit-m-37-5 unit-l-1-4">
				<a href="{{site.baseurl}}/">
					<h3>Lysithea</h3>
				</a>
			</div>
			<nav role="navigation"><div class="link-bar unit gutter unit-s-1 unit-m-37-5 unit-l-1-2">
				<a class="nav {% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a> 
				<a class="nav {% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a>
				<a class="nav {% if page.url == '/terrariums/' %}current{% endif %}" href="{{site.baseurl}}/terrariums/">Terrariums</a>
				<a class="nav {% if page.url == '/cart/' %}current{% endif %}" href="{{site.baseurl}}/cart/">Shopping Cart</a>
			</div>
			</nav>
		</div>
	</header>

{% if page.showbanner %}
<div class="banner">
	<h2>{{page.bannertext}}</h2>
</div>
{% endif %}

{{content}}
  
 	<footer role="contentinfo">
		<div class="grid">
			<nav><div class="unit gutter unit-s-1 unit-m-1-2 unit-l-2">
				<div class="social-div">
				<a href="www.facebook.com"><i class="fa fa-facebook social"></i><span class="hide-text">Facebook</span></a>
				<a href="www.twitter.com" ><i class="fa fa-twitter social"></i><span class="hide-text">Twitter</span></a>
				<a href="www.google.com"><i class="fa fa-google-plus social"></i><span class="hide-text">Googleplus</span></a>
				</div>
			</div>
			</nav>
		<div class="unit gutter unit-s-1 unit-m-1-2 unit-l-1-2">
			<form method="get" class="btn btn-alt"  action="{{site.baseurl}}/search/" role="search">
	 	 		<input type="hidden" name="cx" value="YOUR SEARCH ENGINE ID goes here"/>
	  			<input type="hidden" name="ie" value="UTF-8"/>
	  			<input type="text" name="q" size="30"/>
	  			<input class="btn btn-alt" type="submit" name="sa" value="Search"/>
			</form>	
		</div>
		<div class="unit gutter unit unit-s-1 unit-m-1 unit-l-1">
			<p class="micro"> © 2014 Lysithea, Inc.</p>
		</div>
			<div class="link-bar-bottom unit gutter unit-s-1 unit-m-1">
				<a class="nav micro" href="#">Home</a> 
				<a class="nav micro" href="#">Items</a>
 				<a class="nav micro" href="#">FAQ</a>
 				<a class="nav micro" href="#">Terms of Use</a>
			</div>
		</div>
	</footer>
</body>
</html>