---
layout: products
---
<div class="product grid gutter">
		<div class="media">
			<div class="media-img media-img-stacked">
				<img class="flex-img" src="../images/terrarium-1.jpg" alt="terrarium">
			</div>
			<div class="media-body">
				<h2 class="mega space-none pro-name">Mini Geometric Terrarium - $25CA</h2>
				<ul>
					<li>Handmade</li>
					<li>Materials: stained glass, copper foil, solder, black patina, instructions, glass, terrarium, chain</li>
				</ul>
			</div>
		</div>

		<ul class="list-group">
			<h6>Similar Products</h6>
			<li class="list-group-item list-group-item-inline"><img src="../images/square-terrarium-thumbnail.jpg" alt"square terrarium"></li>
			<li class="list-group-item list-group-item-inline"><img src="../images/polygon-terrarium-thumbnail.jpg" alt"polygonal terrarium"></li>
			<li class="list-group-item list-group-item-inline"><img src="../images/round-terrarium-thumbnail.jpg" alt"round terrarium"></li>
		</ul>
		<a class="btn btn-alt kilo" href="#">Add to Cart</a>

</div>