---
layout: products
---
<div class="product grid gutter">
		<div class="media gutter unit unit-s-1 unit-m-1-2">
			<div class="media-img media-img-stacked">
				<img class="flex-img max-width" src="{{site.baseurl}}/images/terrariums/{{page.image}}" alt="terrarium">
			</div>
			<div class="media-body max-width">
				<h2 class="mega space-none pro-name">{{page.title}} - {{page.price}}</h2>
				<ul>
					<li>{{page.meta}}</li>
					<li>{{page.materials}}</li>
					<li>{{page.size}}</li>
				</ul>
			</div>
			<a class="btn btn-alt kilo" href="{{site.baseurl}}/cart">Add to Cart</a>
		</div>


		<ul class="list-group gutter unit unit-s-1 unit-m-1-2">
			<h4 class="gutter">Similar Products</h4>
			<li class="gutter list-group-item list-group-item-inline"><a href="{{site.baseurl}}/terrariums/hanging/diamond"><img src="{{site.baseurl}}/images/terrariums/hanging/diamond-terrarium-thumbnail.jpg" alt"square terrarium"></a></li>
			<li class="gutter list-group-item list-group-item-inline"><a href="{{site.baseurl}}/terrariums/hanging/tear"><img src="{{site.baseurl}}/images/terrariums/hanging/tear-terrarium-thumbnail.jpg" alt"polygonal terrarium"></a></li>
			<li class="gutter list-group-item list-group-item-inline"><a href="{{site.baseurl}}/terrariums/hanging/dodecahedron"><img src="{{site.baseurl}}/images/terrariums/hanging/dodecahedron-terrarium-thumbnail.jpg"></a></li>
		</ul>
	

</div>